[Unit]
Description=Verify cache volume encryption after mount
Documentation=man:systemd.service(5)
After=var-snap.mount
Before=setup-cache.service
Before=k3s.service
Requires=var-snap.mount
OnFailure=poweroff.target

[Service]
Type=oneshot
RemainAfterExit=yes
TimeoutStartSec=infinity
StandardOutput=journal+console
StandardError=journal+console
Environment="DEBUG_MODE={{ 'true' if debug_build | default(false) else 'false' }}"
ExecStart=/usr/local/bin/verify-cache-volume.sh

[Install]
WantedBy=local-fs.target
