[Unit]
Description=Set up HF cache dir for pod use
Documentation=man:systemd.service(5)
Requires=var-snap.mount
After=var-snap.mount
After=verify-cache-volume.service
Before=k3s.service
# Without the HF cache we don't have enough room for model weights; shut down on failure
OnFailure=poweroff.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/setup-cache.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
