[Unit]
Description=Sync and bind-mount storage volume directories
Documentation=man:systemd.service(5)
Requires=cache-storage.mount
Requires=verify-storage.service
After=cache-storage.mount
After=verify-storage.service
Before=containerd.service
Before=k3s.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/setup-storage-bind-mounts.sh
RemainAfterExit=yes
TimeoutStartSec=300
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=multi-user.target
